- const gitBase = 'github.com/grownjs/jamming/blob/master';
- const gitUrl = `//${gitBase}/${self.filename}`;

doctype html
html
  head
    base(href='/')
    meta(charset='utf-8')
    import(from='styles.css')

    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='HandheldFriendly' content='true')
    meta(name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no')

    title Grown // #{title}
    meta(name='release' content=GIT_REVISION)

    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Sorts+Mill+Goudy')
    link(rel='stylesheet' href='//unpkg.com/highlight.js@10.7.3/styles/tomorrow.css' inline)
    link(rel='stylesheet' href='//unpkg.com/highlight.js@10.7.3/styles/tomorrow-night.css' inline scope="html[theme=dark]")
  body.reset
    if NODE_ENV === 'production'
      script.
        /* eslint-disable */
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '#{UA_CODE}', 'auto');
        ga('send', 'pageview');
        /* eslint-enable */

    #wrapper
      #content.body
        if error
          details
            = error.stack
            summary= error.message

        #menu.flex
          .stork-wrapper
            import(from='search.svg')
            input.stork-input(data-stork='docs' placeholder='Search...')
            .stork-output(data-stork='docs-output')
          a(href=`${location.pathname === '/' ? '.' : location.pathname}/#nav`) &#9776;

        if title
          h1 #{title} #[small: a(href=gitUrl target='_blank') &#9998;]

        main!= yield

        nav.flex
          if next
            span ➯ Next: #[a#next(href=next.link) #{next.label}]

          a#back(href=`${location.pathname === '/' ? '.' : location.pathname}/#` onclick='content.scrollTop=0') &uarr; Back to the top

      aside#sidebar
        .body
          h1#logo
            a(href='.'): import(from='grown.svg')
            small v#{pkg.version}
          hr
          p.flex
            button#toggle: import(from='bulb.svg')
            small The herbsman's NodeJS framework
          hr
          .flex.fit.gap
            a(href='//badge.fury.io/js/grown' target='_blank'): img(src='//badge.fury.io/js/grown.svg')
            a(href='//codecov.io/gh/grownjs/grown' target='_blank'): img(src='//codecov.io/gh/grownjs/grown/branch/master/graph/badge.svg')
            a(href='//github.com/grownjs/grown/actions' target='_blank'): img(src='//github.com/grownjs/grown/workflows/build/badge.svg')
          include ../shared/docs

    include ../mixins/runkit

    script(src='//files.stork-search.net/stork.js')
    import(from='scripts.js')
