- var segment = self && self.parent.split('/').slice(2).join('/').replace(/\.\w+$/, '')
- var url = `/${segment || ''}`;

- var gitBase = 'github.com/pateketrueke/grown/blob/master/website/src';
- var gitUrl = `//${gitBase}${(url === '/' ? '/index' : '/pages' + url) + '.md'}`

mixin linkTo(href, title)
  - var fixedUrl = href.charAt() === '/' ? `.${href}` : href;
  if href === url
    strong
      a.here(href=fixedUrl)= title
  else if !block
    a(href=fixedUrl)= title
  if block
    block

doctype html
html
  head
    base(href='/')
    meta(lang='en')
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='HandheldFriendly' content='true')
    meta(name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no')

    <!--[if lt IE 9]>
    script(src='https://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    <![endif]-->

    title Grown // #{title || Untitled}
    link(rel='stylesheet' href='styles.css')
    link(rel='stylesheet' href='https://unpkg.com/highlight.js/styles/default.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy')
  body.reset
    if env.NODE_ENV === 'production'
      script.
        /* eslint-disable */
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '#{env.GA}', 'auto');
        ga('send', 'pageview');
        /* eslint-enable */

    main#wrapper
      #content.body
        if error
          details
            = error.stack
            summary= error.message

        main
          a#menu(href=`.${url !== '/' ? url : ''}/#sidebar`) &#9776;

          if title
            h1 #{title} #[small: a(href=gitUrl target='_blank') ✎]

          != yield

      aside#sidebar.inverted
        include ../shared/docs

    include ../mixins/runkit

    script(src='scripts.js')
